body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
    font-size: 30px;
}

.square {
    background: #fff;
    border: 2px solid #000000;
    float: left;
    font-size: 80px;
    color: #4b69a5;
    font-weight: bold;
    line-height: 34px;
    height: 90px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 90px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game-info {
    margin-top: 4%;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #eee;
}

.game {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.highlight {
    background-color: #faeee0;
}

.container {
    min-height:100%;
    min-width: 100%;
    position:relative;
}

html,
body, #root {
    margin:0;
    padding:0;
    height:100%;
}

footer {
    position:fixed;
    bottom:0;
    width:100%;
    height: 50px;
    background-color: #f5f5f5;
    text-align: right;
    line-height: 50px;
}

.text-muted {
    padding-right: 20px;
}